html, body {
  font-family: 'IBM Plex Sans', sans-serif;
}

/*svg {
  border : 5px solid;
}*/

:root {
    --header-padding-v : 20px;
    --header-padding-h : 30px;
    --down-icon-width : 30px;
}

/*changing fullpage css*/
.fp-section {
  overflow: hidden;
}


.bold {
  font-weight: 400;
}

.disclaimer {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 200;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  color: white;
}


.disclaimerBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 100;
}

.title {
  position: relative;
}

.grayOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(97,97,97);
  background: linear-gradient(145deg, rgba(97,97,97,0.71) 0%, rgba(66,66,66,0.84) 100%);
  z-index: 4;
}

.blueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,114,188);
  background: linear-gradient(145deg, rgba(0,114,188,1) 0%, rgba(0,113,185,1) 100%);
  opacity: 0.9;
  z-index: 4;
}

#section3 {
  background-image: url(./resources/teacherClass.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yellowOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FFF9C4;
  background: linear-gradient(145deg, #FFF9C4 0%, #FFF59D 100%);
  opacity: 0.25;
  z-index: 4;
}

.grayTop {
  z-index: 5;
  opacity: 0.8;
}

.titleSlide {
  font-size: 36px;
}

.higherIndex {
  position: relative;
  z-index: 5;
  color: white;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.titleImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.section_background {
  background-position: center;
  background-size: cover;
}

#ageProportion {
  background-image: url('./resources/schoolkids.jpg');
}

#empty {
  background-image: url('./resources/empty.jpg');
}

#strideProblemsAddress {
  object-position: left;
}

#disclaimer, #disclaimerFollow {
  display: none;
}

.titleOverlay {
  opacity: 0.8;
}

.girlsOverlay {
  opacity: 0.55;
}

.logoPlaceholder {
  font-size: 48px;
  font-weight: 500;
  margin: 20px 0px;
  width: 200px;
}

.logoPlaceholder img {
  width: 100%;
}

.byIsap {
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0px;
}

.titleNote, .content__title {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0px;
}

.titleSocial {
  display: flex;
  height: 110px;
  justify-content: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
  margin-left: var(--text-padding-left);
}

.para {
  font-size: 15px;
  font-weight: 200;
  margin: 5px 0px;
  padding-left: calc(var(--bullet-width) + var(--text-padding-left));
}

.bullet {
  width : var(--bullet-width);
  transform: rotate(270deg);
}

.bullet-heading{
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.column-flex{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.titleGroup {
  padding-bottom: 18px;
}

.point {
  padding-top: 8px;
  --bullet-width: 15px;
  --text-padding-left : 5px;
}

#fadeFirst, #fadeSecond, #fadeThird {
  display: none;
}

.socialIcon {
  width: 20px;
  cursor: pointer;
}

.twitter {
  margin: 0px 14px;
}

.downIcon {
  position: absolute;
  bottom: 30px;
  width: 30px;
  left: calc(50vw - 15px);
  cursor: pointer;
}

.background{
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  /*transform: scale(1.2);*/
  /*transition: transform 0.7s cubic-bezier(0,0,.2,1);*/
}

@keyframes zoom-in{
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.background__overlay {
  width: 100%;
  height: 100%;
}

.background__overlay--black{
  background-color: #000;
  opacity: 0.4;
}

.background__overlay--black--title {
  background-color: #141414;
  opacity: 0.625;
}

.background__overlay--blue {
  background-color: #0072BC;
  opacity: 0.8;
}

.background__overlay--grey{
  background-image: linear-gradient(to top, #424242 0%, #616161 100%);
  opacity: 0.7;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.lozad {
  opacity: 0;
  transition: 1s ease;
}

/*.imageContainer--left-half {
  width: 50%;
  left: 0;
}

.imageContainer--right-half {
  width: 50%;
  right: 0;
}*/

.imageContainer--first-half {
  height: 50%;
  top: 0;
}

.imageContainer--second-half {
  height: 50%;
  top: 50%;
}

.background--slide-school{
  background-position: 27% 50%;
  /*background-image: url(resources/titleSchool.jpg);*/
}

.background--slide-teacher{
  background-position: 26%;
  /*background-image: url(resources/teacherClass.jpg);*/
}

.background--slide-kids{
  background-position: 20%;
  /*background-image: url(resources/Compressed.jpg);*/
}

.background--slide-cycle-girls{
  background-position: 66%;
  /*background-image: url(resources/cycleGirls.jpg);*/
}

.background--slide-benifits {
  background-position: 30%;
  /*background-image: url(resources/strideBenifits.jpg);*/
}

.background--slide-blue{
  background-color: #0072BC
}

.background--slide-classroom {
  background-position: 50%;
  /*background-image: url(resources/benefit.jpg);*/
}

.slide-6{
  /*background-image: linear-gradient(309deg, #424242 0%, #5F4E4E 70%);*/
}

.slide-7 {
  /*background-image: linear-gradient(to top, #0c3483 0%, #6d8cca 100%, #4c6494 100%, #aab8d4 100%);*/
}

.slide-solution {

}

.yellow-overlay {
  background-color: yellow;
  opacity: 0.4;
}

.red-overlay {
  background-color: red;
  opacity: 0.4;
}

.green-overlay {
  background-color: green;
  opacity: 0.4;
}

.grey-overlay {
  /*background-image: linear-gradient(to top, #424242 0%, #616161 100%);*/
  opacity: 0.4;
}

.content {
  position: relative;
  display: flex;
  height: calc(100% - 30px);
  padding: 70px 30px 30px 30px;
  box-sizing: border-box;
  z-index: 0;
}

.content--default {
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.content--vertical{
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.content--white-text {
  color: #fff;
}

.content__title-para-g{
  margin-bottom: 20px;
}

.content__para {
  font-size: 18px;
  font-weight: 200;
  margin: 5px 70px 5px 0px;
}

.main-header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: var(--header-padding-v) var(--header-padding-h);
    color: #fff;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.main-header__logo {
  width: 70px;
}

.main-header__logo img {
  width: 100%;
}

.main-header__counter {
  margin-left: auto;
  position: relative;
  width : 66px;
  height: 66px;
  font-size: 13px;
  transform: scale(0.83);
  font-family: 'Roboto' ,sans-serif;
  left: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.main-header__counter:hover {
  transform: scale(1);
}

.main-header__current-slide {
  top: 13px;
  left: 22px;
  position: absolute;
}

.main-header__sep {
  height: 1.5px;
  width: 21px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 24px;
  transform: rotate(-45deg);
}

.main-header__total-slides {
  bottom: 17px;
  right: 16px;
  position: absolute;
}

.main-header__circle{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-header__svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.main-header__circle-g{
  transform: translate(50%,50%);
}

.main-header__circle-g circle{
  stroke: #fff;
  fill: none;
}

.grey-panel {

}

.legend-text {
  font-size: 12px;
  alignment-baseline: middle;
  text-align: center;
}

.chart-line {
  stroke : #fff;
  stroke-width : 3px;
}

g.circles {
  fill: #fff;
}

.predicted-line{
  stroke : #121567;
  stroke-width : 3px;
}

.predicted {
  fill : #121567;
}

.point-value{
  font-size: 35px
}

.line-years, .line-values{
  text-anchor: middle;
  fill: #fff;
}

.line-years{
  font-weight: 100;
  font-size: 11px;
}

.line-values {
  font-weight: 600;
}

#age-circle-diagram{
  width: 100%;
  flex-basis: 70%;
  overflow: visible;
  /*filter: drop-shadow(0 0 0.95rem rgb(0,0,0,0.1));*/
}

#cost-line-diagram{
  /*left: 50vw;
  transform: translate(-50%);
  position: fixed;
  width: 100vw;
  height: 100vh;*/
  flex-basis: 70%;
  width: 100%;
  overflow: visible;
}

#num-schools-bar-chart{
  flex-basis: 70%;
  width: 100%;
  overflow: visible;
}

.bar-chart__g {
  fill: #fff;
}

.increase_margin {
  margin-top: 40px;
  font-weight: 500;
}

#progress-circle {
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.2s ease;
}

.fade-in-transition {
  transition : transform .7s cubic-bezier(0,0,.2,1),opacity .7s cubic-bezier(0,0,.2,1);
  transform: translateY(50px);
  opacity: 0;
}

.fade-in-transition--active {
  transform: translateY(0);
  opacity: 1;
  transition-delay: .1s;
}

.fade-in-transition--delay {
  transition-delay: .3s;
}

.fade-in-transition--delay2 {
  transition-delay: .5s;
}

.fade-in-transition--delay3 {
  transition-delay: .7s;
}

.fade-in-transition--delay4 {
  transition-delay: .9s;
}

.fade-in-transition--delay5 {
  transition-delay: 1.1s;
}

.fade-out-transition{
  transition: opacity .4s cubic-bezier(0,0,.2,1);
}

.fade-out-transition--active {
  opacity: 0;
}

.menu {
  z-index: 100;
  position: fixed !important;
  height: 100%;
  width: 70vw;
  max-width: 500px;
  right: 0;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: scroll;
}

.data-source {
  position: fixed;
  width: 100vw;
  min-height: 100px;
  background-color: #fff;
  z-index: 100;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  bottom: 0;
  display: flex;
  align-items: center;
}

.data-source p {
  padding: 20px;
  font-size: 16px;
}

.data-source-btn {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin: 10px 20px;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.data-source-btn:hover {
  opacity: 1;
}

.data-source__bold {
  font-weight: 600;
}

.main-overlay {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*.testimonial-slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.testimonial-slide__section {
  flex-basis: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-slide__title {
  font-size: 38px;
}

.testimonial-slide__button {
  padding: 22px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  min-width: 170px;
  text-align: center;
  border-radius: 60px;
  background-color: rgba(164, 157, 157, 0.4);
  color: #fff;
  font-size: 21px;
  cursor: pointer;
}

.testimonial-story {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 100;
  padding: 55px;
  box-sizing: border-box;
}*/

.testimonial-slide {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimonial-slide__section {
  flex-basis: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-slide__title {
  font-size: 20px;
}

.testimonial-slide__button {
  padding: 14px;
  text-align: center;
  border-radius: 60px;
  background-color: rgba(164, 157, 157, 0.4);
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}

.testimonial-story {
  position: fixed !important;
  width: 100vw;
  max-height: 55vh;
  overflow-y: scroll;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 100;
  padding: 55px;
  padding-top: 15px;
  box-sizing: border-box;
}

.testimonial-story h1 {
  font-size: 20px;
  padding-top: 30px;
}

.testimonial-story p {
  font-size: 15px;
  padding-bottom: 50px;
}

.menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.menu__item:active {
  background-color: #ddddd8;
}

.menu__title {
  font-size: 19px;
  padding: 20px 0px;
}

.menu__index {
  font-size: 30px;
  font-weight: 600;
  padding: 0px 20px;
  margin: 20px 0px;
  min-width: 50px;
}

.caseStudyButt {
  text-decoration: underline;
  cursor: pointer;
}

.containUC {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  height: 400px;
}

.partnerLogos {
  flex-basis: 50%;
}

.partnerPair {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-bottom: 10px;
}

.partner_Title {
  font-size: 30px;
  font-weight: 500;
}

.partnerlogo {
  width: 80px;
}

.UCTitle {
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
  -moz-box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
  box-shadow: 17px 21px 38px -16px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.UCTitle:hover {
  -webkit-box-shadow: 25px 30px 42px -21px rgba(0,0,0,0.8);
  -moz-box-shadow: 25px 30px 42px -21px rgba(0,0,0,0.8);
  box-shadow: 25px 30px 42px -21px rgba(0,0,0,0.8);
}

.source_initial_stats {
  font-size: 14px;
}

@media only screen and (min-width: 375px){
  .legend-text {
    font-size: 16px;
  }

  .line-years {
    font-size: 13px;
  }
}

@media only screen and (min-width: 475px){

  .content--vertical {
    text-align: center;
    align-items: center;
  }

  .content {
    height: 100%;
  }

  .titleNote {
    margin: 20px 10vh;
  }

  .legend-text {
    font-size: 18px;
  }

  .line-years{
    font-weight: 100;
    font-size: 18px;
  }

  .main-header__counter{
    transform: scale(0.9);
  }

  .main-header__counter:hover {
    transform: scale(1.1);
  }

  .data-source-btn {
    bottom: 0;
  }
}

@media only screen and (max-width: 1023px){
  .containUC {
    height: 340px;
    width: 100%;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1023px){

  .titleNote {
    margin: 20px 10vh;
  }

  .legend-text {
    font-size: 21px;
  }

  .predicted-line{
    stroke-width : 5px;
  }

  .chart-line {
    stroke-width : 5px;
  }

  #age-circle-diagram {
    height: 100%;
  }

  #cost-line-diagram{
    left: 50vw;
    transform: translate(-50%);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  #num-schools-bar-chart{
    height: 100%;
  }

  .point-value{
    font-size: 40px
  }

  .content--default {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .content__title {
    font-size: 34px;
    font-weight: 500;
    flex-basis: 40%;
  }

  .content__title-para-g{
    flex-basis: 40%;
  }

  .downIcon {
    width: 40px;
    left: calc(50vw - 20px);
  }

  .bar-chart__g{
    font-size: 19px;
  }

  .main-header__counter{
    transform: scale(1);
  }

  .main-header__counter:hover {
    transform: scale(1.1);
  }

  .imageContainer--first-half {
    width: 50%;
    height: 100%;
    left: 0;
  }

  .imageContainer--second-half {
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
  }

  .testimonial-slide {
    flex-direction: row;
  }

  .testimonial-slide__title {
    font-size: 38px;
  }

  .testimonial-slide__button {
    padding: 22px;
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    min-width: 170px;
    text-align: center;
    border-radius: 60px;
    background-color: rgba(164, 157, 157, 0.4);
    color: #fff;
    font-size: 21px;
    cursor: pointer;
  }

  .menu__item:hover {
    background-color: #f1f1ea;
  }

  .menu__index {
    font-size: 40px;
  }

  .menu__title {
    font-size: 22px;
    padding: 20px 20px 20px 0px;
  }

  .testimonial-story p {
    font-size: 20px;
  }

  .testimonial-story h1 {
    font-size: 25px;
  }

  .logoPlaceholder {
    width: 400px;
  }

  .main-header__logo {
    width: 100px;
  }

  .containUC {
    height: 340px;
  }

  .testimonial-story {
    width: 50%;
    height : 100%;
    max-height: unset;
  }

  .testimonial-story--kalsoom{
    right: 0;
    transform: translateX(200%);
  }

  .testimonial-story--gul {
    left: 0;
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1280px){

  .titleNote {
    margin: 20px 10vh;
  }

  .legend-text {
    font-size: 26px;
  }

  .content {
    padding: 60px;
  }

  .content__title {
    font-size: 40px;
  }

  .content__para {
    font-size: 22px;
  }

  .main-header {
    padding: 30px 60px 10px 60px;
  }

  .containUC {
    height: 375px;
  }
}

@media only screen and (max-width: 570px){
  .hideUC {
    display: none;
  }
  .containUC {
    height: 300px;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 350px){
  .containUC {
    height: 200px;
    justify-content: flex-start;
  }
}
