html, body {
  font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    --header-padding-v : 40px;
    --header-padding-h : 30px;
    --down-icon-width : 30px; 
}


.bold {
  font-weight: 400;
}

.disclaimer {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 200;
  position: relative;
  z-index: 10;
  color: white;
}

.disclaimerBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 8;
}

.title {
  position: relative;
}

.grayOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(97,97,97);
  background: linear-gradient(145deg, rgba(97,97,97,0.71) 0%, rgba(66,66,66,0.84) 100%);
  z-index: 4;
}

.blueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,114,188);
  background: linear-gradient(145deg, rgba(0,114,188,1) 0%, rgba(0,113,185,1) 100%);
  opacity: 0.9;
  z-index: 4;
}

.yellowOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FFF9C4;
  background: linear-gradient(145deg, #FFF9C4 0%, #FFF59D 100%);
  opacity: 0.25;
  z-index: 4;
}

.grayTop {
  z-index: 5;
  opacity: 0.8;
}

.titleSlide {
  font-size: 36px;
}

.higherIndex {
  position: relative;
  z-index: 5;
  color: white;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.titleImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#disclaimer, #disclaimerFollow {
  display: none;
}

.titleOverlay {
  opacity: 0.8;
}

.girlsOverlay {
  opacity: 0.55;
}

.logoPlaceholder {
  font-size: 38px;
  font-weight: 500;
  margin: 20px 0px;
}

.byIsap {
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0px;
}

.titleNote, .slide-title {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0px;
}

.titleSocial {
  display: flex;
  height: 110px;
  justify-content: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
  margin-left: var(--text-padding-left);
}

.titlePara {
  font-size: 18px;
  font-weight: 200;
  margin: 5px 70px 5px 0px;
}

.para {
  font-size: 15px;
  font-weight: 200;
  margin: 5px 0px;
  padding-left: calc(var(--bullet-width) + var(--text-padding-left));
}

.bullet {
  width : var(--bullet-width);
  transform: rotate(270deg);
}

.bullet-heading{
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.column-flex{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.titleGroup {
  padding-bottom: 18px;
}

.point {
  padding-top: 8px;
  --bullet-width: 15px;
  --text-padding-left : 5px; 
}

#fadeFirst, #fadeSecond, #fadeThird {
  display: none;
}

.socialIcon {
  width: 20px;
}

.twitter {
  margin: 0px 14px;
}

.downIcon {
  position: absolute;
  bottom: 30px;
  width: 30px;
  left: calc(50vw - 15px);
}

.background{
  background-size: cover;
  position: relative;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.slide-1{
  background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg1.jpg);
}

.slide-2{
  background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg2.jpg);
}

.slide-3{
  background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg3.jpg);
}

.slide-4{
  background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg1.jpg);
}

.slide-5{
  background-color: #2196f3;
}

.slide-6{
  background-color: #6f5c56;
}

.blue-overlay {
  background-color: blue;
  opacity: 0.4;
}

.yellow-overlay {
  background-color: yellow;
  opacity: 0.4;
}

.red-overlay {
  background-color: red;
  opacity: 0.4;
}

.green-overlay {
  background-color: green;
  opacity: 0.4;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content, .content-vertical, .content-panel {
  position: relative;
  display: flex;
  align-items: start;
  height: calc(100% - var(--down-icon-width) - 10px);
  justify-content: center;
  flex-direction: column;
  padding: 70px 30px 30px 30px;
  box-sizing: border-box;
  z-index: 0;
}

.content h1 {
  z-index: 1;
}

.main-header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: var(--header-padding-v) var(--header-padding-h);
    color: #fff;
}

.white-text {
  color: #fff;
}

.grey-panel {

}

.slide-title-para{
  margin-bottom: 20px;
}

@media only screen and (min-width: 475px) {
  .disclaimer {
    text-align: center;
  }
  .logoPlaceholder {
    text-align: center;
  }
  .byIsap {
    text-align: center;
  }
  .downIcon {
    width: 40px;
    left: calc(50vw - 20px);
  }

  .content {
    align-items: center;
    flex-direction: row;
  }

  .content-vertical {
    align-items: center;
  }

  .content, .content-vertical, .content-panel{
    height: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .disclaimer {
    font-size: 28px;
  }

  .grey-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: darkcyan;
    width: calc(50% + 120px);
    z-index: -1;
  }

  .byIsap {
    font-size: 18px;
    margin: 10px 0px;
  }
  .titleNote {
    font-size: 40px;
    margin: 10px 0px;
    text-align: center;
  }

  .slide-title {
    font-size: 50px;
  }

  .slide-title-para, .bullet-slide-title{
    max-width: 470px;
    margin-bottom: 0;
  }

  .bullet-slide-title {

  }

  .titlePara {
    font-size: 24px;
  }

  .para {
    font-size: 18px;
  }

  .subtitle {
    font-size: 27px;
  }
  .logoPlaceholder {
    font-size: 80px;
    margin: 25px 0px;
  }
  .socialIcon {
    width: 25px;
  }
  .twitter {
    margin: 0px 28px;
  }
  .titleSocial {
    height: 90px;
  }
  .titleSlide {
    width: 40%;
    font-size: 40px;
  }
  .content {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .content-vertical {
    align-items: center;
    padding: 80px;
  }

  .content {
    padding : 80px 20px 80px 80px;
  }

  .content-panel{
    padding-right: 0px;
  }

  .flex-50 {
    flex-basis: 50%;
  }

  .flex-30 {
    flex-basis: 30%;
  }

  .flex-60 {
    flex-basis: 60%;
  }

  :root {
    --header-padding-h : 80px;
    --header-padding-v : 50px;
  }

  #age-circle-diagram{
    flex-basis: 60%;
    width: 700px;
  }
}

@media only screen and (min-width: 1200px) {
  .disclaimer {
    font-size: 32px;
  }
  .byIsap {
    font-size: 20px;
  }
  .content-vertical {
    align-items: center;
  }  
}
